{% block content %}
<h2>Профиль пользователя</h2>
<a href="{% url 'chat' %}">На главную</a>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.first_name.label_tag }} {{ form.first_name }}
    {{ form.last_name.label_tag }} {{ form.last_name }}
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.avatar.label_tag }} {{ form.avatar }}
    <button type="submit">Сохранить</button>
</form>
{% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Avatar" style="max-width:200px;">
{% endif %}
{% endblock %}